


<h1>{{ title }}</h1>
<div id="wrapper1">
<h2>Instructions</h2>
<ul>
  <li>You can use a mouse to drag and drop the object</li>
  <li>You can use the keyboard by tabbing to the object and using the arrow keys to move the object to the drop zone</li>
  
</ul>

<section id="dragzone" class="zone item">
  <div class="zoneLabel">DRAG ZONE</div>

  <div #dragObj style="left:0px;" id="dragObj" draggable="true" (dragstart)="drag($event)"  tabindex="0" (keydown)="getKeyAndMove($event)">
    <div id="dragLabel">
      Drag this object
    </div>
  </div>
</section>

<section #dropzone id="dropzone" class="zone" (drop)="drop($event)" (dragover)="allowDrop($event)" aria-live="polite">
  <div class="zoneLabel">DROP ZONE</div>
</section>

</div>