


<h1>{{ title }}</h1>
<div id="wrapper1">

<section id="dragzone" class="zone">
  <div class="zoneLabel">DRAG ZONE</div>

  <div #dragObj style="left:0px;" id="dragObj" draggable="true" (dragstart)="drag($event)" tabindex="0" (keydown)="getKeyAndMove($event)">
    <div id="dragLabel">
      Drag this object
    </div>
  </div>
</section>

<section #dropzone id="dropzone" class="zone" (drop)="drop($event)" (dragover)="allowDrop($event)" aria-live="polite">
  <div class="zoneLabel">DROP ZONE</div>
</section>

</div>