<div id="page">
<h1>ADND Accessible Drag and Drop</h1>
  <section id="wrapper1">
    <section id="dragzone" #dropzone2 class="zone item">

      <h2 class="zoneLabel">Drag Zone</h2>

      <div #dragObj tabindex="0" style="left:0px;" id="dragObj" draggable="true" (dragstart)="drag($event)"
        (keydown)="getKeyAndMove($event)" (focus)="showKeyboardDragInstructions()">
        <div id="dragLabel">
          Drag this object
        </div>
      </div>
    </section>

    <section #dropzone id="dropzone" class="zone" (drop)="drop($event)" (dragover)="allowDrop($event)"
      aria-live="polite">
      <h2 class="zoneLabel">Drop Zone</h2>
    </section>

    <section #liveRegion id="liveRegion" class="zone" aria-live="polite">
      <h2 class="zoneLabel">Status</h2>
    </section>


  </section><!-- end wrapper1 -->



  <section id="moveButtons">
    <button (click)="moveLeft()">Left</button>
    <button (click)="moveRight()">Right</button>
    <button (click)="moveUp()">Up</button>
    <button (click)="moveDown()">Down</button>
    <button id="moveButton" (click)="moveObjectToDropzone()">Just Do It!</button>
    <button (click)="undoMoveObjectToDropzone()">Undo</button>
  </section>

  <section>
    <h2>Links</h2>
    <ul>
      <li><a href="https://github.com/clane/ng-a11y-drag-and-drop">Github Repo</a></li>
      <li><a href="https://stackblitz.com/github/clane/ng-a11y-drag-and-drop/tree/master/App">Stackblitz</a></li>
      <li><a href="https://vbwikgjx.github.stackblitz.io/">Stackblitz full screen version</a></li>
    </ul>
  </section>


</div><!-- end page -->